# SPDX-License-Identifier: GPL-2.0

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 8
indent_style = tab
insert_final_newline = true
max_line_length = 100
tab_width = 8
trim_trailing_whitespace = true

[*.json]
indent_style = space
indent_size = 4

[{COMMIT_EDITMSG,*.patch}]
max_line_length = 75
